$strongCyan: hsl(172, 67%, 45%);
$veryDarkCyan: hsl(183, 100%, 15%);
$grayishCyan: hsl(184, 14%, 56%);
$dkGrayishCyan: hsl(186, 14%, 43%);
$ltGrayishCyan: hsl(185, 41%, 84%);
$veryLtGrayishCyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$error: hsl(10, 32%, 59%);
$radius-s: 0.25rem;
$radius-l: 0.75rem;
